.text-methods{
    background-color: #FFFFFF;
    padding: 5px;
    margin: 10px;
    border-radius: 5%;
    text-align: center;
}

.info-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
}