.white-tile {
  background: #F8FAE5;
}

.black-tile {
  background: #43766C;
}

.board-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.board-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.knight {
  width: 100%;
  height: 100%;
  background: url("knight.png"); /* Путь к изображению коня */
  background-size: cover;
  position: relative;

}

.move-number {
  font-size: 1.5vh; /* Размер шрифта */
  text-align: center; /* Центрируем текст */
  line-height: calc(var(--tileSize) * 0.5); /* Центрирование по высоте */
  color: black; /* Цвет текста */
}